<main>
    <div class="home-row">
        <div class="image" id="rio-de-janeiro-img"></div>
        <div>
            <h1>About</h1>
            <p>Latin America has been a popular tourist destination for decades given its holiday friendly climate zones and welcoming population. Generally speaking, Latin America contains the entire area of South America in addition to Mexico, Central America and the islands of the Caribbean, including 20 countries and 14 dependent territories, taking up approximately 13% of Earth's land surface area. The name Latin America was given to the region as its inhabitants are speakers of one of the Romance languages - primarily Spanish, Portuguese and French.
            </p>
        </div>
    </div>
    <div class="home-row">
        <div>
            <h1>What to do</h1>
            <p>Machu Picchu, Copacabana, Amazonas, Iguazu Falls, Torres del Paine Nation Park, Galápagos Islands are just a handful of attractive destinations that you will never forget. Beaches, mountains, rain forests, metropolitan cities, ancient ruins. Latin America is full of historic and natural wonders that await you to discover. Apart from these must-see attractions, travellers can discover the fantastic spirit of the various festivals, the shooting locations of numerous cult movies or the region's most popular sport - football.</p>
        </div>
        <div class="image" id="nature-img"></div>
    </div>
    <div class="home-row">
        <div class="image" id="alpaca-img"></div>
        <div>
            <h1>Our mission</h1>
            <p>Latin America is full of culture, traditions and tourist attractions of all kind, therefore discovering everything in the timeframe of a regular vacation is definitely impossible. Our agency can help with carefully selecting the sights and the programmes to best match your taste, conceptions and the length of your stay. Offering different ways of transportation ensures that everyone finds that best suites them. Apart from flying our clients can choose to travel by a cruise liner for the luxurious journey or cross the continent by train to maximaze on adventures.</p>
        </div>
    </div>
</main>
