<div id="client-testimonial-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section>
                <div class="testimonial-profile-picture" id="testimonial-first"></div>
                <div class="testimonial-content-container">
                    <p>Guava Travel Agency is the best travel agency I have travelled with.</p>
                    <p class="text-bright-blue">Joey Tribiani</p>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section>
                <div class="testimonial-profile-picture" id="testimonial-second"></div>
                <div class="testimonial-content-container">
                    <p>Guava Travel Agency has changed how I plan my family holidays for the better.</p>
                    <p class="text-bright-blue">Monica Geller</p>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section>
                <div class="testimonial-profile-picture" id="testimonial-third"></div>
                <div class="testimonial-content-container">
                    <p>Guava Travel Agency allows me to focus only on the fun part of travelling.</p>
                    <p class="text-bright-blue">Chandler Bing</p>
                </div>
            </section>
        </div>
    </div>
    <div class="carousel-button-container">
        <button class="carousel-control-prev" type="button" data-bs-target="#client-testimonial-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <svg width="75%" height="75%" viewBox="0 0 47 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.35535 74.7107L39.7107 39.3554L4.35534 4.00002" stroke-width="10"/>
                </svg>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#client-testimonial-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <svg width="75%" height="75%" viewBox="0 0 47 79" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.35535 74.7107L39.7107 39.3554L4.35534 4.00002" stroke-width="10"/>
                </svg>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
